<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link rel="stylesheet" href="/css/register.css">
</head>
<body>
    {{>header}}
    <div class="main">
    <div class="signup-wrap">
       
            <h2>Log In</h2>
            <br>
            <form action="/users/login" method="POST">
                <div class="input-wrap">
                    <input type="email" placeholder="Email" name="email" required>
                </div>
                
                <div class="input-wrap"> 
                    <input type="password" placeholder="Password" name="password" required>
                </div>
                
                <div class="input-wrap"> 
                    <button type="submit">Submit</button>
                    
                </div>
            
       
        
            
        </form>
    </div>
    </div>
</body>
<script type="text/javascript">
        window.history.forward();
        function noBack() {
            window.history.forward();
        }
    </script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</html>