<style>
  /* @import url('https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kdam+Thmor+Pro&display=swap'); */
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

  * {
    font-family: 'Poppins', sans-serif;
  }

  .navbar-nav {
    width: 60%;
    justify-content: space-around;
  }



  .a-tag {
    text-decoration: none;
    color: #007BFF;
  }

  .user-image {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 10%;
  }

  .prof-img {
    width: 4rem;
    height: 4rem;
    background-image: radial-gradient(#ffffff, #00c8ff);
    text-align: center;
    border-radius: 100%;
    /* margin: 0 2rem; */
  }

  .prof-img img {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
    border: 3px solid #007BFF;
  }

  .user-name {
    font-size: 20px;
    margin: 1rem;

  }

  @media only screen and (max-width:992px) {
    .navbar-brand {
      margin-left: -20px;
    }

    .navbar-nav {
      width: 100%;
    }

    #btn {
      font-size: 20px;
    }

    .a-tag {
      display: none;
    }
  }

  @media only screen and (max-width: 400px) {
    .container {
      width: 5rem;
      margin-left: -2px;
    }
  }
</style>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="/users/tasks">
          <img src="/images/Group 3.png" alt="" width="80" height="60" />
        </a>
      </div>
    </nav>
    <b><a class="navbar-brand"
        style="font-size: 2rem; background : -webkit-linear-gradient(#eee, #333);background-clip: border-box;-webkit-background-clip: text;-webkit-text-fill-color: transparent; ">WorkFlow</a></b>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" style="font-size: large;">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/users/tasks" style="font-size: px;">Create Task</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/users/about">About</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/me" id="profile">Profile</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="/users/logout">Logout</a>
        </li>

      </ul>
    </div>
    <a href="/users/me" class="a-tag">
      <div class="user-image">
        <div class="prof-img">
          <img src="/users/<%= user.id%>/avatar" onerror="this.onerror=null;this.src='../images/User.png';"
            id="profile-img-tag">
        </div>
        <div class="user-name">
          <%= user.name%>
        </div>
      </div>
    </a>
  </div>
</nav>

<script>

</script>