<% if(typeof errors !='undefined' ){ %>
    <% errors.forEach(function(error) { %>

        <div class="alert alert-warning position-absolute" style="top: 0; right: 0;" role="alert">
            <%= error.message %>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
        </div>

        <% }); %>
            <% } %>

                <% if(success_message.length> 0 ){ %>
                    <div class="alert alert-success position-absolute" style="top: 0; right: 0;" role="alert">
                        <%= success_message %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>

                    <% } %>
                        <% if(error_message !='' ){ %>
                            <div class="alert alert-danger position-absolute" style="top: 0; right: 0;" role="alert">
                                <%= error_message %>
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                            </div>

                            <% } %>
                                <% if(error !='' ){ %>
                                    <div class="alert alert-danger position-absolute" style="top: 0; right: 0;"
                                        role="alert">
                                        <%= error %>
                                            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                    </div>

                                    <% } %>