<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Login</title>
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet'>

    <link rel="stylesheet" href="/css/register.css">
    <link rel="stylesheet" href="/css/alerts.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

</head>

<body>
    <%- include ('partials/header')%>

        <% if(success_message.length> 0 ){ %>
            <div class="alert alert-success position-absolute" style="top: 0; right: 0; z-index: 2;" role="alert">
                <%= success_message %>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                        onclick="this.parentNode.style.display = 'none';">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <% } %>
                <% if(error_message !='' ){ %>
                    <div class="alert alert-danger position-absolute" style="top: 0; right: 0;" role="alert">
                        <%= error_message %>
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"
                                onclick="this.parentNode.style.display = 'none';">
                                <span aria-hidden="true">&times;</span>
                            </button>
                    </div>

                    <% } %>

                        <div class="main">
                            <div class="signup-wrap">

                                <h2><img src="/images/signupIcon.png" alt="" width="35rem" height=""
                                        style="margin-right: 5px;">Log In</h2>
                                <br>
                                <form action="/users/login" method="POST">
                                    <div class="input-wrap">
                                        <input type="email" placeholder="Email" name="email" required>
                                    </div>

                                    <div class="input-wrap">
                                        <input type="password" placeholder="Password" name="password" required>
                                    </div>

                                    <div class="input-wrap">
                                        <button type="submit" class="formBtn" style="margin-top: 10px">Login</button>

                                    </div>
                                </form>

                                <div class="input-wrap">
                                    <h6><a href="/users" style="text-decoration: none; color: rgb(69, 69, 69)">Create a
                                            new account <img src="/images/login.png" alt="" width="20rem" height="">
                                        </a> </h6>
                                </div>
                                <div class="input-wrap">
                                    <h6><a href="/users/forgotPassword"
                                            style="text-decoration: none; color: rgb(69, 69, 69)">Forgot
                                            Password ?
                                        </a> </h6>
                                </div>
                            </div>
                        </div>
</body>
<!-- <script type="text/javascript">
    window.history.forward();
    function noBack() {
        window.history.forward();
    }
</script> -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
    crossorigin="anonymous"></script>
<script src="/js/alerts.js"></script>


</html>