/* @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"); */

body {
  font-family: "Kdam Thmor Pro", sans-serif;
}
.welcomeMsg {
  text-align: center;
  margin-bottom: 2rem;
}
.no-task h4 {
  width: 100%;
  text-align: center;
}
.top-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#create_btn {
  background-color: #c2e7ff;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(131, 131, 131);
}
#create_btn:hover {
  box-shadow: 0 1px 5px 0 #ccc, 0 1px 3px 1px #000000;
}
.dropbtn {
  background-color: #04aa6d;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.cards-container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.card-wrapper {
  width: 100%;
}
/* .card {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 1rem;
} */
.card {
  position: relative;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px;
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
  border-radius: 10px;
}
/* .card:hover:before {
  transform: rotate(20deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);

  background: rgb(177, 255, 252);
}
.card:hover:after {
  transform: rotate(10deg);
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
  background: rgb(194, 255, 252);
} */
.card-head {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 1.5rem;
  font-weight: 400;
}

.description {
  font-size: 1rem;
  margin: 1rem 0;
}

.status {
  margin: 1rem 0;
}
.progress-bar {
  width: 100%;
  height: 1rem;
  border-radius: 20px;
  background-color: #ccc;
  margin: 3px 0;
}
.blue-bar {
  background: #007bff;
  height: 1rem;
  border-radius: 20px 0 0 20px;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  /* padding: 20px; */
  border: none;
  width: 60%; /* Could be more or less, depending on screen size */
  position: relative;
  border-radius: 10px;
}
.modal-content h3 {
  text-align: center;
  width: 100%;
  background-color: #28a745;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
/* The Close Button */
.close2 {
  color: #fff;
  float: right;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content {
  margin: 1rem 3rem;
  display: flex;
  justify-content: space-evenly;
}
.left {
  width: 40%;
}

.right {
  width: 45%;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.input-div label {
  margin-bottom: 1rem;
  font-weight: bold;
}
.input-div input,
.input-div select,
.input-div textarea {
  /* padding: 5px; */
  /* border-radius: 5px; */
  border: none;
  outline: none;
  border-bottom: 2px solid #6c757d;
}
#percent_num {
  border-bottom: none;
}
#percent_num_new {
  border-bottom: none;
}
.input-div textarea {
  resize: none;
}
.btn_cont {
  text-align: right;
  margin: 2rem;
}
.btn {
  background-color: #007bff;
  border: none;
  width: 20%;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 885px) {
  .modal-content {
    width: 90%;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .btn {
    width: 50%;
  }
}
@media only screen and (max-width: 575px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media only screen and (max-width: 519px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}
