/* @import url("https://fonts.googleapis.com/css2?family=Kdam+Thmor+Pro&display=swap"); */

body {
  font-family: "Kdam Thmor Pro", sans-serif;
}
#btn-back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 4rem;
  border-radius: 100rem;
  display: none;
  z-index: 3;
}
.welcomeMsg {
  text-align: center;
  margin-bottom: 2rem;
}
.no-task h4 {
  width: 100%;
  text-align: center;
}
.top-buttons {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.filters {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#create_btn {
  background-color: #c2e7ff;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: none;
  box-shadow: 0 1px 3px 0 rgb(131, 131, 131);
}
#create_btn:hover {
  box-shadow: 0 1px 5px 0 #ccc, 0 1px 3px 1px #000000;
}
.filter-status {
  margin: 2rem;
}

.dropbtn {
  color: black;
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #fff;
}

.dropdown {
  position: relative;
  border-bottom: 2px solid black;
  background-color: #fff;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 3px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}
.fa-caret-down {
  margin-left: 1rem;
}

#searchBox {
  padding: 10px;
  background: rgba(255, 255, 255, 0.788);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border: none;
  border-bottom: 2px solid black;
  outline: none;
  /* width: 30vh; */
}
.fa-magnifying-glass {
  margin-left: 2px;
}
.wrapper {
  display: flex;
  justify-content: center;
  margin: 3rem 0;
}
.cards-container {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 2rem;
  row-gap: 2rem;
}
.card-wrapper {
  width: 100%;
  max-width: 33vw;
}
.card {
  position: relative;
  width: 100%;
  background: #fff;
  margin: 0 auto;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  border-radius: 10px 10px 0 0;
}
.card:before,
.card:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: #fff;
  transition: 0.5s;
  z-index: -1;
  border-radius: 10px;
}
.card-head {
  display: flex;
  justify-content: space-between;
}
.title {
  font-size: 1.5rem;
  font-weight: 400;
  word-wrap: break-word;
}
.options {
  width: 6.2rem;
  text-align: right;
}
.delete_btn {
  background-color: rgb(255, 83, 83);
  color: white;
  text-decoration: none;
  height: 32px;
  border-radius: 5px;
  border: none;
  display: inline-flex;
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 40px;
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.delete_btn:hover {
  max-width: 250px;
}

.fa-trash {
  font-size: 16px;
  display: flex;
  margin-left: 8px;
  align-items: center;
}

.delete_text {
  white-space: nowrap;
  padding-left: 15px;
}
.card-mid {
  height: 11rem;
  margin-bottom: 1rem;
}
.description {
  font-size: 1rem;
  margin: 1rem 0;
  word-wrap: break-word;
  height: 3rem;
  overflow: hidden;
}
#desc_new {
  white-space: pre-wrap;
}
.read_more {
  display: none;
  color: blue;
  /* font-weight: 600; */
  width: 100%;
  cursor: pointer;
  text-align: center;
}
.read_more:hover {
  font-weight: 600;
}
.status {
  margin: 1rem 0;
}
.progress-bar {
  width: 100%;
  height: 1rem;
  border-radius: 20px;
  background-color: #ccc;
  margin: 3px 0;
}
.blue-bar {
  background: #007bff;
  height: 1rem;
  border-radius: 20px 0 0 20px;
}
.card-bottom {
  display: flex;
  justify-content: space-between;
}
.edit-button_div {
  width: 100%;
}
.edit-btn {
  background-color: #fff;
  border: none;
  width: 100%;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 4; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 2% auto; /* 15% from the top and centered */
  /* padding: 20px; */
  border: none;
  width: 60%; /* Could be more or less, depending on screen size */
  position: relative;
  border-radius: 10px;
}
.modal-content h3 {
  text-align: center;
  width: 100%;
  background-color: #28a745;
  color: #fff;
  border-radius: 10px 10px 0 0;
  padding: 10px;
}
#myModal3 .modal-content {
  height: 80%;
}

/* The Close Button */
.close2 {
  color: #fff;
  float: right;
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 28px;
  font-weight: bold;
}

.close2:hover,
.close2:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.content {
  margin: 1rem 3rem;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow-y: scroll;
}
.left {
  width: 40%;
}

.right {
  width: 45%;
}
.input-div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}
.input-div label {
  margin-bottom: 1rem;
  font-weight: bold;
}
.input-div input,
.input-div select,
.input-div textarea {
  border: none;
  outline: none;
  border-bottom: 2px solid #6c757d;
}
#percent_num {
  border-bottom: none;
}
#percent_num_new {
  border-bottom: none;
}
.input-div textarea {
  resize: none;
}
.btn_cont {
  text-align: right;
  margin: 2rem;
}
.btn {
  background-color: #007bff;
  border: none;
  width: 20%;
  color: #fff;
  padding: 1rem;
  border-radius: 10px;
}

@media only screen and (max-width: 885px) {
  .modal-content {
    width: 90%;
  }
  .cards-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .card-wrapper {
    max-width: 45vw;
  }
  .btn {
    width: 50%;
  }
}
@media only screen and (max-width: 660px) {
  .top-buttons {
    flex-direction: column;
  }
}
@media only screen and (max-width: 575px) {
  .cards-container {
    grid-template-columns: repeat(1, 1fr);
  }
  .card-wrapper {
    max-width: 100vw;
  }
}
@media only screen and (max-width: 519px) {
  .content {
    flex-direction: column;
    align-items: center;
  }
  .left {
    width: 100%;
  }
  .right {
    width: 100%;
  }
}

@media only screen and (max-width: 460px) {
  .filters {
    flex-direction: column;
  }
  #searchBox {
    width: 70%;
  }
} ;
