/* @import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Kdam+Thmor+Pro&display=swap"); */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  height: 100vh;
  /* display: flex;
    justify-content: center;
    align-items: center; */
  background: linear-gradient(to bottom right, #f6b596, #de6189);
}
.main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.signup-wrap {
  display: flex;
  justify-content: center;
  border-radius: 30px;
  flex-direction: column;
  align-items: center;
  width: 500px;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
  background-color: #fff;
  padding: 20px;
  text-align: center;
}
.input-wrap {
  text-align: center;
  margin: 10px;
}
input {
  border: none;
  width: 100%;
  padding: 10px;
  border-bottom: 2px solid gray;
  transition: 500ms ease all;
  font-family: "Poppins", sans-serif;
}
input:focus {
  outline: none;
  box-shadow: 0 1px 0 0 red;
  border-color: red;
}

.formBtn {
  padding: 5px 20px;
  width: 70%;
  font-size: 1.3rem;
  border-radius: 20px;
  border: none;
  background-image: linear-gradient(to left, #f7a27b, #de6189);
  color: white;
}
